@charset "UTF-8";

[v-cloak] {
  display: none;
}

/* input[type=submit],
input[type=reset],
.mdeditor input[type=button], .mdeditor button {
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
} */

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("./MaterialIcons-Regular.woff2") format("woff2"),
    url("./MaterialIcons-Regular.woff") format("woff"), url("./MaterialIcons-Regular.ttf") format("truetype");
  font-display: block;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  max-width: 1em;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

/* * {
  box-sizing: border-box;
  scrollbar-color: rgba(153, 153, 153, 0.7) rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(153, 153, 153, 0.7);
  -webkit-box-shadow: none;
}

* {
  box-sizing: border-box;
}
* :focus {
  outline: none;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
  font-size: 1em;
}

body {
  -webkit-overflow-scrolling: touch;
  padding: 0;
  background-color: #1e212b;
  height: 100%;
  line-height: 1.42857143;
  margin: 0;
  font-weight: 400;
  color: #000000;
}
body > div {
  display: block;
  width: 100%;
  height: 100%;
}
body header + .content {
  display: block;
  width: 100%;
  height: calc(100% - 40px);
  padding: 1em 0em 1em 0em;
  margin-top: 40px;
  overflow: auto;
}
body header + .content > div {
  display: block;
  width: 100%;
  height: 100%;
}
body header + .content > div > #app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body header + .content > div > #app > article.infoBox {
  display: flex;
  justify-content: center;
}
body header + .content > div > #app > article.infoBox section.dataInfo {
  flex: 1;
}
body header + .content > div > #app > article.subject {
  flex-grow: 1;
  height: 1;
}
body header + .content p {
  color: #909090;
}
body .body {
  display: flex;
}

.container {
  width: 100%;
  height: auto;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}

footer#footer {
  font-size: 0.8em;
  padding: 15px;
  color: #ffffff;
  background-color: #909090;
  text-align: right;
} */

.clCover {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  width: 13em;
  height: 3.25em;
}
.clCover b {
  display: inline-block;
  cursor: pointer;
  margin: 0.5em;
  padding: 0.25em 1em;
  border-radius: 0.25em;
}

b.clStyle_0 {
  border: 1px solid #2ec4d1;
  color: #abe7ed;
  background-image: linear-gradient(135deg, #1B96F1, #3BE2BC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1B96F1", endColorstr="#3BE2BC",GradientType=0);
}
b.clStyle_0:hover {
  color: #58d0da;
  box-shadow: inset 0 0 4px black;
}

b.clStyle_1 {
  border: 1px solid #a53ae9;
  color: #e4c4f8;
  background-image: linear-gradient(135deg, #3544DC, #EF33F2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3544DC", endColorstr="#EF33F2",GradientType=0);
}
b.clStyle_1:hover {
  color: #ba68ee;
  box-shadow: inset 0 0 4px black;
}

b.clStyle_2 {
  border: 1px solid #d78f6f;
  color: #f8ece7;
  background-image: linear-gradient(135deg, #9a04bf, #ffec39);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a04bf", endColorstr="#ffec39",GradientType=0);
}
b.clStyle_2:hover {
  color: #e2ae97;
  box-shadow: inset 0 0 4px black;
}

b.clStyle_3 {
  border: 1px solid #d33264;
  color: #eeb0c3;
  background-image: linear-gradient(135deg, #9F046C, #F5515F);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9F046C", endColorstr="#F5515F",GradientType=0);
}
b.clStyle_3:hover {
  color: #dc5c84;
  box-shadow: inset 0 0 4px black;
}

b.clStyle_4 {
  border: 1px solid #27a2a4;
  color: #83e0e1;
  background-image: linear-gradient(135deg, #564ce6, #07db78);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#564ce6", endColorstr="#07db78",GradientType=0);
}
b.clStyle_4:hover {
  color: #31cbcd;
  box-shadow: inset 0 0 4px black;
}

b.clStyle_5 {
  border: 1px solid #6dd871;
  color: #e6f8e6;
  background-image: linear-gradient(135deg, #25C7A2, #9de451);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#25C7A2", endColorstr="#9de451",GradientType=0);
}
b.clStyle_5:hover {
  color: #95e398;
  box-shadow: inset 0 0 4px black;
}

b.clStyle_6 {
  border: 1px solid #fdab60;
  color: #fffbf7;
  background-image: linear-gradient(135deg, #ffe7a6, #FB8332);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe7a6", endColorstr="#FB8332",GradientType=0);
}
b.clStyle_6:hover {
  color: #fec692;
  box-shadow: inset 0 0 4px #735400;
}

b.clStyle_7 {
  border: 1px solid #7c74e4;
  color: #f5f4fd;
  background-image: linear-gradient(135deg, #61DEC7, #8E2EF7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#61DEC7", endColorstr="#8E2EF7",GradientType=0);
}
b.clStyle_7:hover {
  color: #a49fec;
  box-shadow: inset 0 0 4px #020b09;
}

b.clStyle_8 {
  border: 1px solid #cccd32;
  color: #ebebad;
  background-image: linear-gradient(135deg, #8ADC32, #F8C332);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ADC32", endColorstr="#F8C332",GradientType=0);
}
b.clStyle_8:hover {
  color: #d6d75b;
  box-shadow: inset 0 0 4px black;
}

b.clStyle_9 {
  border: 1px solid #888888;
  color: #d5d5d5;
  background-image: linear-gradient(135deg, #eeeeee, #444444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee", endColorstr="#444444",GradientType=0);
}
b.clStyle_9:hover {
  color: #a2a2a2;
  box-shadow: inset 0 0 4px #555555;
}

.content.charts {
  overflow: auto;
}
.content.charts article.chartBox .blockR {
  flex: 2;
  height: fit-content;
  width: 100%;
  white-space: pre-wrap;
  display: flex;
  flex-wrap: wrap;
}
.content.charts article.chartBox .blockR section.socChart {
  flex: 0 0 calc(50% - 1em);
  margin: 0.5em;
}
@media (max-width: 650px) {
  .content.charts article.chartBox .blockR section.socChart {
    flex: 1;
  }
}

article.casesBox .blockR section.socCases .detailed ul li span {
  white-space: pre-wrap;
}

.noteSay, .accSpk p {
  white-space: pre-wrap;
}

article.casesBox .blockR section.socCases {
  align-content: baseline;
}
body header + .content.cases,
body header + .content.host,
body header + .content.malwares,
body header + .content.ngav,
body header + .content.events {
  padding: 0;
  overflow: auto;
}
body header + .content.cases .container,
body header + .content.host .container,
body header + .content.malwares .container,
body header + .content.ngav .container,
body header + .content.events .container {
  padding: 0;
}
body header + .content.cases .container article.casesBox,
body header + .content.host .container article.casesBox,
body header + .content.malwares .container article.casesBox,
body header + .content.ngav .container article.casesBox,
body header + .content.events .container article.casesBox {
  position: relative;
}
body header + .content.cases .container article.casesBox .blockL,
body header + .content.host .container article.casesBox .blockL,
body header + .content.malwares .container article.casesBox .blockL,
body header + .content.ngav .container article.casesBox .blockL,
body header + .content.events .container article.casesBox .blockL {
  flex: 1;
  min-width: 300px;
  max-width: 310px;
  position: fixed;
  top: 40px;
  height: calc(100% - 40px);
  z-index: 20;
}
body header + .content.cases .container article.casesBox .blockR,
body header + .content.host .container article.casesBox .blockR,
body header + .content.malwares .container article.casesBox .blockR,
body header + .content.ngav .container article.casesBox .blockR,
body header + .content.events .container article.casesBox .blockR {
  flex: 3;
  margin-left: 300px;
  overflow-x: hidden;
}
body header + .content.cases .container article.casesBox .blockR > div.horizonta,
body header + .content.host .container article.casesBox .blockR > div.horizonta,
body header + .content.malwares .container article.casesBox .blockR > div.horizonta,
body header + .content.ngav .container article.casesBox .blockR > div.horizonta,
body header + .content.events .container article.casesBox .blockR > div.horizonta {
  background-color: #14151c;
}

.btn {
  padding: 0.25em 1em;
  border-radius: 0.35em;
  cursor: pointer;
}

.deleteAll {
  position: absolute;
  right: 0;
  font-size: 0.75em;
  font-weight: bold;
  background-color: #1B96F1;
  color: #ffffff;
  transition: 0.5s;
  border: 1px solid #0c75c3;
  box-shadow: 2px 2px 3px #202020;
}
.deleteAll:hover {
  background-color: #0d7bcc;
}

.wti {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.wti span {
  opacity: 0.35;
}
.wti span.go_next {
  position: fixed;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  top: 50%;
  left: 50%;
  margin: -190px 0 0 -60px;
  z-index: 10;
  animation: shadow 2s infinite linear;
  background-color: rgba(37, 199, 162, 0.35);
  cursor: pointer;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 15px #25C7A2;
  }
  50% {
    box-shadow: 0px 0px 65px #1B96F1;
  }
  100% {
    box-shadow: 0px 0px 15px #25C7A2;
  }
}
.homeNew .go_next:before {
  position: absolute;
  display: block;
  content: " ";
  border: solid 1px #FFF;
  width: 132px;
  height: 132px;
  border-radius: 66px;
  top: -6px;
  left: -6px;
  animation: bbig 2s infinite linear;
}
.homeNew .go_next:after {
  position: absolute;
  display: block;
  content: " ";
  border: solid 1px #FFF;
  width: 132px;
  height: 132px;
  border-radius: 66px;
  top: -6px;
  left: -6px;
  animation: bbig 2s 0.5s infinite linear;
}

@keyframes bbig {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.75s ease;
}

.fade-enter, .fade-leave-to, .fade-leave-active {
  opacity: 0;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity 0.3s ease;
}

.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

.curr {
  cursor: pointer;
}

.loader {
  position: relative;
}
.loader:after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: -44px auto auto -44px;
  border-radius: 50%;
  border: 8px solid #3f3f3f;
  border-top: 8px solid #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.disabled, input[disabled=disabled] {
  pointer-events: none !important;
  opacity: 0.35 !important;
  cursor: no-drop !important;
  cursor: not-allowed !important;
}

.loading {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}
.loading::after {
  content: "";
  position: absolute;
  z-index: 10000;
  top: calc(50% - 2.25em);
  left: calc(50% - 2.25em);
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5em solid #ffffff;
  border-top: 0.5em solid #1B96F1;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.events .blockR.loading, .malwares .blockR.loading {
  opacity: 0.6;
}
.events .blockR.loading::after, .malwares .blockR.loading::after {
  position: fixed;
  left: calc(50% + 119px);
}

/** .loader
 * border: 16px solid #f3f3f3
 * border-top: 16px solid #3498db
 * border-radius: 50%
 * width: 120px
 * height: 120px
 * animation: spin 2s linear infinite
 *
 * **/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.showWarning {
  position: fixed;
  bottom: 0em;
  right: 0em;
  max-width: 14em;
  text-align: center;
  padding: 2em 2em;
  background-color: #25C7A2;
  border-radius: 0.5em;
  color: #1e212b;
  border: 4px solid #25C7A2;
  box-shadow: inset 0 0 1em rgba(30, 33, 43, 0.5);
  pointer-events: none;
  display: none;
  font-weight: bold;
}
.showWarning::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 1em;
  left: -1em;
  border-style: solid;
  border-width: 1em 1em 1em 0;
  border-color: transparent #25C7A2 transparent transparent;
}

.home .showWarning {
  max-width: 100%;
  width: auto;
  position: absolute;
  top: -1em;
  bottom: auto;
  right: auto;
  left: 6em;
  padding: 0.25em 1em;
  border: 2px solid #25C7A2;
  font-size: 0.8em;
}
.home .showWarning.fail {
  background-color: #fc3848;
  border: 2px solid #fc3848;
  color: #ffffff;
}
.home .showWarning::before {
  display: none;
  border-color: transparent #fc3848 transparent transparent;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@-moz-document url-prefix() {
  span.material-icons.status_S {
    border: none !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    text-shadow: 0 0 4px #25C7A2, 0 0 10px #25C7A2, 0 0 10px #25C7A2, 0 0 15px #25C7A2, 0 0 20px #25C7A2;
  }
  span.material-icons.status_W {
    border: none !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    text-shadow: 0 0 4px #ffec39, 0 0 10px #ffec39, 0 0 10px #ffec39, 0 0 15px #ffec39, 0 0 20px #ffec39;
  }
  span.material-icons.status_U {
    border: none !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    text-shadow: 0 0 4px #fc3848, 0 0 10px #fc3848, 0 0 10px #fc3848, 0 0 15px #fc3848, 0 0 20px #fc3848;
  }
}
.Progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Progress .ppBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 24em;
  height: 8em;
  background-color: #2a2a39;
  border: 1px solid #1e212b;
  border-radius: 6px;
  box-shadow: 0 0 10px #000000;
}
.Progress label {
  color: #ffffff;
  padding: 1em;
}
.Progress label span {
  padding: 0 0.5em;
}
.Progress #Progress_file {
  width: 20em !important;
  height: 1em !important;
}

.flagsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
}
.flagsBox span.material-icons {
  color: #cccccc;
  margin-right: 0.5em;
}
.flagsBox .langBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.25em;
}
.flagsBox .langBox img {
  width: 100%;
  flex: 1;
  width: 3.25em;
  height: 2.5em;
  padding: 0.25em;
  display: flex;
  cursor: pointer;
  border-radius: 2em;
  overflow: hidden;
  border: 2px solid #2a2a39;
  opacity: 0.5;
}
.flagsBox .langBox img.pick {
  border: 2px solid #1B96F1;
  opacity: 1;
}

.checkNb {
  width: 100%;
  border: 1px solid #1B96F1;
  height: 2em;
}

.title_info_1 {
  font-weight: bolder;
  background-color: #ffec39 !important;
  color: #202020;
  box-shadow: inset 0 0 0.25em #9f9000;
  border-right: 0px solid #ffec39 !important;
}

.title_info_2 {
  font-weight: bolder;
  background-color: #25C7A2 !important;
  color: #ffffff;
  box-shadow: inset 0 0 0.25em #0d4639;
  text-shadow: 0 0 1px #0d4639;
  border-right: 0px solid #25C7A2 !important;
}

.login .loading {
  width: 100% !important;
}
.login .loading::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  margin: 0;
}

[switchfox=true] {
  display: none !important;
  visibility: none !important;
  pointer-events: none !important;
}

.myselect {
  padding: 0.15em 0.5em;
}

body, html {
  background-color: #1e212b;
  overflow-y: auto !important;
}

canvas:not(#myChart) {
  position: fixed;
  z-index: -11;
  top: 100vh;
  left: 1000vw;
}

.mdeditor {
  width: 100%;
  padding: 0;
  margin: auto;
  flex-direction: column;
}
.mdeditor .sys_title {
  color: #cccccc;
  font-size: 1.8em;
  padding: 0.5em 0.5em 0em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mdeditor .sys_title h1 {
  padding: 0.5em 2em;
  background-color: #16181f;
  border-radius: 8px;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 32px;
}
.mdeditor .sys_title h1 b {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0.5em;
  left: 1em;
}
.mdeditor section.dataInfo ul li span {
  cursor: auto;
}
.mdeditor section {
  padding: 1em;
}

section#mdBox {
  display: flex;
  flex-direction: row;
  width: 100%;
}
section#mdBox .mdTopng {
  flex: 1;
  min-width: 450px;
}
section#mdBox .mdTopng textarea {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  padding: 1em;
  background-color: #1e212b;
  color: #cccccc;
  font-size: 12px;
}
section#mdBox #printable {
  background-color: #ffffff;
  position: relative;
  width: auto;
  min-width: 0;
  max-width: 1800px;
  /* flex: 1 1 auto; */
}
section#mdBox #printable .timePeriod {
  display: flex;
  flex-direction: row-reverse;
}
section#mdBox #printable .timePeriod .list {
  text-align: right;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  padding-left: 1em;
  margin-bottom: 1em;
  background-color: #aaaaaa;
  color: #ffffff;
  border-radius: 4px;
}
section#mdBox #printable .timePeriod .list .list_li {
  padding: 0.25em 1em;
  border-left: 1px solid #ffffff;
}
section#mdBox #printable .timePeriod .list .list_li span {
  margin-right: 0.5em;
}
section#mdBox #printable .eventBox {
  position: relative;
  padding: 2em 2.5em;
  max-width: 900px;
  word-break: break-all;
}
section#mdBox #printable .eventBox h3 {
  font-size: 1.1em;
  background-color: #909090;
  color: #ffffff;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0.5em 1em;
}
section#mdBox #printable .eventBox h2 {
  color: #e21e6c;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #dedede;
  color: #707070;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
section#mdBox #printable .eventBox h2 p {
  padding: 0.5em;
}
section#mdBox #printable .eventBox h2 p + p {
  border-top: dashed 1px #cccccc;
}
section#mdBox #printable .eventBox h2 p em {
  text-decoration: underline;
  text-decoration-color: #fc7232;
  border-radius: 4px;
  padding: 0.1em 0.25em;
  margin: 0 0.25em;
  word-break: break-all;
}
section#mdBox #printable .timeBox {
  position: relative;
  padding: 0 0.5em;
}
section#mdBox #printable .timeBox:nth-child(2n+1) .detail {
  background-color: #f8f8f8;
}
section#mdBox #printable .timeBox:last-child {
  position: relative;
}
section#mdBox #printable .timeBox:last-child::after {
  content: "";
  position: absolute;
  display: block;
  left: 7.9em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 1em 0 1em;
  border-color: #25C7A2 transparent transparent transparent;
}
section#mdBox #printable .timeBox h2 {
  color: #e21e6c;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #dedede;
  color: #707070;
  border-radius: 4px;
}
section#mdBox #printable .timeBox h2 p {
  padding: 0.5em;
  font-size: 1rem;
}
section#mdBox #printable .timeBox h2 p + p {
  border-top: dashed 1px #cccccc;
}
section#mdBox #printable .timeBox h2 p::before {
  content: "•";
  padding-right: 0.5em;
}
section#mdBox #printable .timeBox h2 p em {
  text-decoration: underline;
  text-decoration-color: #fc7232;
  border-radius: 4px;
  padding: 0.1em 0.25em;
  margin: 0 0.25em;
  word-break: break-all;
}
section#mdBox #printable .timeBox h1.date {
  position: absolute;
  left: 0;
  top: 0.5em;
  padding: 0.35em 0.75em;
  color: #a332ee;
  border-radius: 1em;
  border: solid 0.5em #8b12db;
  color: #ffffff;
  background-image: linear-gradient(to top, #a332ee 0%, #5e0c94 100%);
  font-weight: bolder;
  font-size: 16px;
}
section#mdBox #printable .timeBox h1.date::before {
  position: absolute;
  content: "";
  width: calc(100% + 0.5em);
  height: 1;
  z-index: -1;
  border-radius: 4px;
  border-bottom: 6.25em solid #a332ee !important;
  top: -0.25em;
  left: -0.25em;
}
section#mdBox #printable .timeBox h1.date::after {
  content: "";
  position: absolute;
  top: 0.5em;
  right: -2em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 2em;
  border-color: transparent transparent transparent #8b12db;
}
section#mdBox #printable .timeBox h1.date b {
  display: block;
  font-size: 2em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
section#mdBox #printable .timeBox h1.date em {
  padding-top: 0.15em;
  border-top: solid 2px #ffffff;
  font-size: 1.5em;
  display: block;
  text-align: center;
}
section#mdBox #printable .timeBox h1.date + .detail {
  padding-top: 3em;
  border-top: solid 3px #25C7A2;
}
section#mdBox #printable .timeBox h1.date + .detail b.title {
  top: 2em;
}
section#mdBox #printable .timeBox .detail {
  position: relative;
  padding: 2.5em 1em;
  margin: 0 0 0 8em;
  border-left: solid 0.75em #25C7A2;
  width: calc(100% - 8em);
}
section#mdBox #printable .timeBox .detail:nth-child(n+1)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  border-top: dashed 1px rgba(37, 199, 162, 0.2);
}
section#mdBox #printable .timeBox .detail .content {
  color: #3f3f3f;
  padding: 1.5em 0em 0 1em;
}
section#mdBox #printable .timeBox .detail .content p {
  line-height: 1.75em;
}
section#mdBox #printable .timeBox .detail .content p em {
  text-decoration: underline;
  text-decoration-color: #fc7232;
  border-radius: 4px;
  padding: 0.1em 0.25em;
  margin: 0 0.25em;
  word-break: break-all;
}
section#mdBox #printable .timeBox .detail b.title {
  color: #ffffff;
  padding: 0.15em 0.5em;
  border-radius: 4px;
  position: absolute;
  left: 0.5em;
  top: 1em;
  z-index: 1;
}
section#mdBox #printable .timeBox .detail b.title span {
  margin-right: 0.25em;
}
section#mdBox #printable .timeBox .detail b.title::before {
  content: "";
  width: 1em;
  position: absolute;
  left: -0.5em;
  top: 0.75em;
  border-top: solid 0.25em #25C7A2;
}
section#mdBox #printable .timeBox .detail b.title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1;
  z-index: -1;
  border-radius: 4px;
}
section#mdBox #printable .timeBox .detail ul.ann {
  position: relative;
  margin-top: 0.5em;
  font-size: 0.9em;
  border-radius: 1em;
  word-break: break-all;
  border: solid 1em #fffbd2;
}
section#mdBox #printable .timeBox .detail ul.ann li {
  position: relative;
  z-index: 1;
  padding: 0.5em;
  margin: -1px;
  background-color: #fffbd2;
  color: rgba(108, 98, 0, 0.8);
}
section#mdBox #printable .timeBox .detail ul.ann li::before {
  content: "•";
  margin-right: 0.5em;
}
section#mdBox #printable .timeBox .detail ul.ann li b {
  position: relative;
  z-index: 1;
  line-height: 1.75em;
}
section#mdBox #printable .timeBox .detail ul.ann li b em {
  text-decoration: underline;
  text-decoration-color: #fc7232;
  border-radius: 4px;
  padding: 0.1em 0.25em;
  margin: 0 0.25em;
  word-break: break-all;
}
section#mdBox #printable .timeBox .detail ul.ann li ~ li {
  border-top: dashed 1px #ecd500;
}

.mdeditor button:not(.swal-button), .mdeditor .btn {
  background-color: #e21e6c;
  border: 1px solid #fc3848;
  padding: 0.35em 1em;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 1px 0 1px #07416c;
  background-image: linear-gradient(to top, #fc3848 0%, #e21e6c 100%);
  color: #ffffff;
  box-shadow: 0 0 1em #99020f;
  position: absolute;
  top: 2em;
  right: 50%;
  margin-right: -640px;
  z-index: 1000000;
}
@media (max-width: 1265px) {
  .mdeditor button:not(.swal-button), .mdeditor .btn {
    position: fixed;
    right: 1em;
    margin-right: 0;
  }
}
.mdeditor button:not(.swal-button) b, .mdeditor .btn b {
  padding-left: 0.25em;
}

.okBtn {
  background-color: #e21e6c;
  border: 1px solid #fc3848;
  padding: 0.35em 1em;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 1px 0 1px #07416c;
  background-image: linear-gradient(to top, #fc3848 0%, #e21e6c 100%);
  color: #ffffff;
  box-shadow: 0 0 0.25em #99020f;
  margin-left: 1em;
}

#attackHistory {
  padding: 2em 0em 2em 2em;
  max-width: 900px;
}

#myChart {
  /* width: 100%; */
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  max-height: 100% !important;
  max-width: 100% !important;
  padding: 4em 0em 2em 2em;
  margin-bottom: 0em;
}

.dragBox {
  width: 10px;
  background-color: #cccccc;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: all-scroll;
  cursor: col-resize;
}

.star.list_li {
  background-color: #6a6a6a !important;
}
.star::before {
  border-color: #6a6a6a !important;
}
.star::after {
  border-bottom: 1.8em solid #6a6a6a !important;
}

.wb_sunny.list_li {
  background-color: #fd9564 !important;
}
.wb_sunny::before {
  border-color: #fd9564 !important;
}
.wb_sunny::after {
  border-bottom: 1.8em solid #fd9564 !important;
}

.brightness_high.list_li {
  background-color: #f45965 !important;
}
.brightness_high::before {
  border-color: #f45965 !important;
}
.brightness_high::after {
  border-bottom: 1.8em solid #f45965 !important;
}

.brightness_2.list_li {
  background-color: #4bacf4 !important;
}
.brightness_2::before {
  border-color: #4bacf4 !important;
}
.brightness_2::after {
  border-bottom: 1.8em solid #4bacf4 !important;
}

.settings_suggest {
  color: #505050 !important;
}
.settings_suggest.list_li {
  background-color: #e6e6e6 !important;
}
.settings_suggest::before {
  border-color: #e6e6e6 !important;
}
.settings_suggest::after {
  border-bottom: 1.8em solid #e6e6e6 !important;
}

.setComment {
  padding: 1em 0em 1em 2em;
}
.setComment .conLeft {
  padding: 1em;
}
.setComment .conLeft ul {
  font-size: 0.7em;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.setComment .conLeft ul li {
  flex: 0 0 30%;
  padding: 0.25em 1em;
  margin: 0.25em;
  background-color: #1B96F1;
  border-radius: 4px;
  display: inline-flex;
  color: #ffffff;
}
.setComment .conLeft ul li label {
  cursor: pointer;
  flex: auto;
}
.setComment .conLeft ul li input {
  flex: 1;
  margin-left: 0.5em;
  padding: 0.25em 0.5em;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #707070;
}
.setComment .conLeft ul li input::placeholder {
  color: rgba(27, 150, 241, 0.6);
}
.setComment .conLeft ul li input.numberBox {
  flex: 0 0 2em;
  max-width: 4em;
  margin: 0 0 0 -1px;
  text-align: center;
  padding-right: 0;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.setComment .conLeft textarea {
  width: 100%;
  min-height: 8em;
  border-radius: 4px;
  font-size: 0.8em;
}
/*# sourceMappingURL=mdeditor.css.map */
